body {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  width: 100%;
  background-color: aliceblue;
  color: black;
}
.rightHeader{
  padding-right: 25%;
  align-items:start !important;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(7, 8, 8); 
  
}
.leftHeader{
  padding-left: 25% !important;

}
.card {
  padding: 2em;
}
.button{
  /* padding-left: 100px !important; */
}
.btnLink{
  color: #ffffff;
}
/* .read-the-docs {
  color: #888;
} */

.FileUpload{
  /* color: rgb(173, 149, 149); */
  /* background-color: rgb(102, 102, 156); */
}